<form id="new-card" class="navbar-form navbar-left">    
  </button> 
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="form-group">
    <button type="submit" 
            class="input-group-addon" 
            id="new-card-btn"
            data-toggle="popover" 
            data-placement="bottom"
            data-animation="animation" 
            data-container="body" 
            data-content="Your card is now in the running. Check it out at the all-card showdown!" 
            value="">
      <i class="fa fa-times" id="user-profile"></i>&nbsp New Card
    </button>
    <input type="text" 
           class="form-control" 
           id="new-card-input"
           name="white_card[body]" 
           autofocus="true"
           placeholder="Think you're witty?">
    </input>    
</form>

<script>
  $(function() {
    $("#new-card").on("submit", function (event) {
        event.preventDefault();
        var formData = $(this).serializeJSON()
        $.ajax({
          url: "/api/white_cards",
          type: "POST",
          data: formData,
          success: function (event) {
            $('#new-card-btn').popover("toggle");
            $("#new-card-input").val("");
            window.setInterval(function(){
              $('#new-card-btn').popover('hide')
            }, 3000);
            
          }
        });
      }
    );
  });
</script>
