<form id="new-card" class="navbar-form navbar-left">   
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <div class="form-group">
    <button type="submit" class="input-group-addon" id="new-card-btn" value="">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    <input type="text" 
           class="form-control" 
           id="new-card-input"
           name="white_card[body]" 
           autofocus="true"
           placeholder="Think you're witty?">
    </input>    
</form>


<style>

</style>
 
<script>
  $(function() {
    $("#new-card").on("submit", function (event) {
        event.preventDefault();
        var formData = $(this).serializeJSON()
        $.ajax({
          url: "/api/white_cards",
          type: "POST",
          data: formData,
          success: function () {
          }
        });
      }
    );
  });
</script>
