<form id="new-card"> 
  <label>
    <input type="text" 
           class="form-control" 
           name="white_card[body]" 
           autofocus="true"
           placeholder="Think you're witty?"></input>
  </label>
  
  <div>
    <input type="submit" class="nav-btn btn"></button>
  </div>
</form>

<script>
$(function() {
  $("#new-card").on("submit", function (event) {
      event.preventDefault();

      var formData = $(this).serializeJSON();

      debugger
      $.ajax({
        url: "/api/white_cards",
        type: "POST",
        data: formData,
        success: function () {
          $.ajax({
            url: "/api/white_cards",
            type: "GET",
            success: function (data) {
              alert("saved")
            }
          });}
      });
    }
  );
});
</script>





