<canvas id="my-canvas" width="600" height="600"></canvas>
<div class="tools">
  <div id="pallette-area">
    <div id="black" class="paint">
    </div>
    <div id="red" class="paint">
    </div>
    <div id="orange" class="paint">
    </div>
    <div id="yellow" class="paint">
    </div>
    <div id="green" class="paint">
    </div>
    <div id="blue" class="paint">
    </div>
    <div id="purple" class="paint">
    </div>
    <div id="white" class="paint">
    </div>
  </div>
  
  <div id="brush-area">
    <button id="sm" class="brush glyphicon glyphicon-search" data-size-id="3">
    </button>
    <button id="med" class="brush glyphicon glyphicon-search" data-size-id="10">
    </button>
    <button id="lrg" class="brush glyphicon glyphicon-search" data-size-id="25">
    </button>
  </div>
</div>



