<canvas id="my-canvas"></canvas>
<div class="tools">
  <div id="brush-area">
    <div id="sm" class="brush" data-size-id="3">
    </div>
    <div id="med" class="brush" data-size-id="10">M
    </div>
    <div id="lrg" class="brush" data-size-id="25">L
    </div>
  </div>
  
  <div id="pallette-area">
    <button id="black" class="paint">
    </button>
    <button id="red" class="paint">
    </button>
    <button id="orange" class="paint">
    </button>
    <button id="yellow" class="paint">
    </button>
    <button id="green" class="paint">
    </button>
    <button id="blue" class="paint">
    </button>
    <button id="purple" class="paint">
    </button>
    <button id="white" class="paint">
    </button>
  </div>
</div>



