<canvas id="my-canvas" width="600" height="600"></canvas>
<div class="tools">
  <div id="pallette-area">
    <button id="black" class="paint">
    </button>
    <button id="red" class="paint">
    </button>
    <button id="orange" class="paint">
    </button>
    <button id="yellow" class="paint">
    </button>
    <button id="green" class="paint">
    </button>
    <button id="blue" class="paint">
    </button>
    <button id="purple" class="paint">
    </button>
    <button id="white" class="paint">
    </button>
  </div>
  
  <div id="brush-area">
    <button id="sm" class="brush glyphicon glyphicon-pencil" data-size-id="3">

    </button>
    <button id="med" class="brush glyphicon glyphicon-pencil" data-size-id="10">
  
    </button>
    <button id="lrg" class="brush glyphicon glyphicon-pencil" data-size-id="25">

    </button>
  </div>
</div>

<button class="btn btn-large">
  Submit
</button>



