<form action="/users" class="new_user" id="new_user" method="post">
  <!-- <div style="display:none"><input type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="tS1jw+axiTuCfeWT+PYfEOzs3qDHdIy5RlXw1w+jTTg="></div> -->
  <input name="authenticity_token" type="hidden">
    <label> sketch-mate.com/users/</label>
      <input
         id="username"
         type="text"
         placeholder="awesome_sauce">


    <input type="hidden" name="user[email]" id="user_email">

    <script>   
      $(".sign-in form").on("submit", function(event){
        var $form = $(event.currentTarget)
          $form.find("input[name=user\\[email\\]]").val($("#username").val() + "@guest.com"); 
      })
    </script>

    <input
       id="user_password"
       name="user[password]"
       type="hidden"
       value="12345678">
     <input
        id="user_password_confirmation"
        name="user[password_confirmation]"
        type="hidden"
        value="12345678">

     <input class="btn new-user" name="commit" type="submit" value="Try it Now!">
</firm>

