<form action="/users" class="new_user" id="new_user" method="post">
  <!-- <div style="display:none"><input type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="tS1jw+axiTuCfeWT+PYfEOzs3qDHdIy5RlXw1w+jTTg="></div> -->
  <input name="authenticity_token" type="hidden">

    <div class="form-group has-error has-feedback">
      <label for="user_email">Email
        <input autofocus="autofocus" 
               class="form-control" 
               id="user_email" 
               name="user[email]" 
               placeholder="Name of Glory" 
               type="email">
        </label><br>

  <div class="form-group">
    <label for="user_password">Password
      <input autocomplete="off" 
             class="form-control" 
             id="user_password" 
             name="user[password]" 
             placeholder="Make it good..."
             type="password">
    </label><br>
  </div>

  <div class="form-group">
    <label for="user_password_again">Password again
      <input autocomplete="off" 
             class="form-control" 
             id="user_password_confirmation" 
             name="user[password_confirmation]" 
             placeholder="...make it hard"
             type="password">
    </label><br>
  </div>

  <input class="btn" name="commit" type="submit" value="Let's rumble!">
</form>
