<div class="prompt-card">
</div>


<canvas id="my-canvas" width="500" height="500">
  <script>
    $(function() {
      $("#my-canvas" ).selectable({ disabled: true });
    });
    </script> 
</canvas>
<div class="tools">
  <div class="stamps">
    <button id="circleStamp" class="stamp"><i class="fa fa-circle"></i></button>
    <button id="squareStamp" class="stamp"><i class="fa fa-square"></i></button>
    <button id="freeLine" class="stamp"><i class="fa fa-stumbleupon"></i></button>
    <button id="white" class="paint"><i class="fa fa-eraser"></i></button>
  </div>
  
  
  <div id="pallette-area">
    <button id="black" class="paint">
    </button>
    <button id="red" class="paint">
    </button>
    <button id="darkorange" class="paint">
    </button>
    <button id="gold" class="paint">
    </button>
    <button id="forestgreen" class="paint">
    </button>
    <button id="darkturquoise" class="paint">
    </button>
    <button id="darkorchid" class="paint">
    </button>
    <button id="peachpuff" class="paint">
    </button>
    <button id="saddlebrown" class="paint">
    </button>
  </div>
  
  <div id="brush-area">    
    <button id="sm" class="brush glyphicon glyphicon-pencil" data-size-id="5">
    </button>
    <button id="med" class="brush glyphicon glyphicon-pencil" data-size-id="25">  
    </button>
    <button id="lrg" class="brush glyphicon glyphicon-pencil" data-size-id="75">
    </button>
    
    <div class="brush-slider">
      <input type="range" value="10" min="1" max="100" id="brush-slider">
      <div id="current-brush-size">10
      </div>
    </div>
  </div>
  
  <div class="decide">
    <button class="btn" id="submit-drawing-button">
      Submit
    </button>
    <button  id="restart" 
             class="btn glyphicon glyphicon-fire" 
             data-toggle="modal" 
             data-target=".confirm-reset">
    </button>
  </div>
</div>
<div id="dialog" style="display: none;">
  Are you sure about this?
</div>


<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<!-- Small modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal confirm-reset" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      Abandon your masterpiece?
    </div>
  </div>
</div>



