<div class="prompt-card">
</div>


<canvas id="my-canvas" width="500" height="500">
  <script>
    $(function() {
      $("#my-canvas" ).selectable({ disabled: true });
    });
    </script> 
</canvas>
<div class="tools">
  <div class="stamps">
    <button id="circleStamp" class="stamp"><i class="fa fa-circle" id="circleStamp" ></i></button>
    <button id="squareStamp" class="stamp"><i class="fa fa-square" id="squareStamp"></i></button>
    <button id="freeLine" class="stamp"><i class="fa fa-stumbleupon" id="freeLine"></i></button>
    <button id="white" class="paint"><i class="fa fa-eraser"></i></button>
  </div>
  
  
  <div id="pallette-area">
    <button id="black" class="paint">
    </button>
    <button id="red" class="paint">
    </button>
    <button id="darkorange" class="paint">
    </button>
    <button id="gold" class="paint">
    </button>
    <button id="forestgreen" class="paint">
    </button>
    <button id="darkturquoise" class="paint">
    </button>
    <button id="darkorchid" class="paint">
    </button>
    <button id="peachpuff" class="paint">
    </button>
    <button id="saddlebrown" class="paint">
    </button>
  </div>
  
  <div id="brush-area">    
    <button id="sm" class="brush glyphicon glyphicon-pencil" data-size-id="5">
    </button>
    <button id="med" class="brush glyphicon glyphicon-pencil" data-size-id="25">  
    </button>
    <button id="lrg" class="brush glyphicon glyphicon-pencil" data-size-id="75">
    </button>
    
    <div class="brush-slider">
      <input type="range" value="10" min="1" max="100" id="brush-slider">
      <div id="current-brush-size">10
      </div>
    </div>
  </div>
  
  <div class="decide">
    <button  id="restart-trigger" 
             class="btn glyphicon glyphicon-fire" 
             data-toggle="modal" 
             data-target=".confirm-reset">
    </button>
    
    <button class="btn" id="submit-drawing-button">
      Submit
    </button>
  </div>
</div>

<div class="modal fade confirm-reset" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="reset-title">Abandon your masterpiece?</h4>
      </div>
      <div class="modal-body">    
          <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal">I'll keep it.</button>
            <button class="btn btn-danger" id="restart" data-dismiss="modal">Burn it!</button>
          </div>
      </div>
    </div>
  </div>
</div>



