<!-- <button id="color-picker-btn">CLICK ME</button>
<div id="color-picker">
  <div id="ColorPicker" style="height: 249px; width: 268px; display: block; opacity: 1; cursor: move; left: 932px; top: 316px; z-index: 100;" title="Move">
    <div class="hexBox" title="Eyedropper" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAALklEQVQ4T2P8DwQMeMD79+/xSTMwjhowLMLg3bt3eNOBoKAg/nQwagAD49APAwAZX1Y5OSpt8QAAAABJRU5ErkJggg==);">
      <div style="background-color: rgb(255, 0, 0);">
      </div>
    </div>
      <input title="HEX Code" class="hexInput" size="6" type="text">
      <div title="Close" class="hexClose">x
      </div><br>
      <canvas width="266" height="212" style="position: absolute; top: 32px; left: 6px;">
      </canvas>
    </div>
  </div>
</div>
   -->
<div class="prompt-card">
</div>

<canvas id="my-canvas" width="500" height="500">
  <script>
    $(function() {
      $("#my-canvas" ).selectable({ disabled: true });
    });
    </script> 
</canvas>
<div class="tools">
  
  <div id="pallette-area">
    <button id="black" class="paint">
    </button>
    <button id="red" class="paint">
    </button>
    <button id="darkorange" class="paint">
    </button>
    <button id="gold" class="paint">
    </button>
    <button id="forestgreen" class="paint">
    </button>
    <button id="darkturquoise" class="paint">
    </button>
    <button id="darkorchid" class="paint">
    </button>
    <button id="white" class="paint">
    </button>
    <button id="saddlebrown" class="paint">
    </button>
  </div>
  
  <div id="brush-area"> 
    
    <button id="sm" class="brush glyphicon glyphicon-pencil" data-size-id="3">
    </button>
    <button id="med" class="brush glyphicon glyphicon-pencil" data-size-id="10">  
    </button>
    <button id="lrg" class="brush glyphicon glyphicon-pencil" data-size-id="25">
    </button>
    
    <div class="brush-slider">
      <input type="range" value="10" min="1" max="100" id="brush-slider"
      <div id="current-brush-size">10</div>
    </div>
  </div>
    
  <button class="btn" id="submit-drawing-button">
    Submit
  </button>
</div>




