<canvas id="my-canvas" width="1000" height="1000">
  <script>
    $(function() {
      $(".my-canvas" ).selectable("false");
    });
    </script>
  
</canvas>
<div class="tools">
  <div id="pallette-area">
    <button id="black" class="paint">
    </button>
    <button id="red" class="paint">
    </button>
    <button id="darkorange" class="paint">
    </button>
    <button id="gold" class="paint">
    </button>
    <button id="forestgreen" class="paint">
    </button>
    <button id="darkturquoise" class="paint">
    </button>
    <button id="darkorchid" class="paint">
    </button>
    <button id="white" class="paint">
    </button>
    <button id="saddlebrown" class="paint">
    </button>
  </div>
  
  <div id="brush-area">
    <button id="sm" class="brush glyphicon glyphicon-pencil" data-size-id="3">
    </button>
    <button id="med" class="brush glyphicon glyphicon-pencil" data-size-id="10">  
    </button>
    <button id="lrg" class="brush glyphicon glyphicon-pencil" data-size-id="25">
    </button>
    
    <button class="btn" id="submit-drawing-button">
      Submit
    </button>
    
    <div class="prompt-card">
    </div>
  </div>
</div>




