
<p><%= sketch.get("user_id") %></p>

<div class="show-canvas">
  <img src="<%=sketch.get("image")%>">
</div>

<div class="tools">
  <div class="vote-area">
    <div class="vote upvote">
      <span class="glyphicon glyphicon-arrow-up"></span>
    </div>
    <div class="vote downvote">
      <span class="glyphicon glyphicon-arrow-down"></span>
    </div>
  </div>
  
  <div class="cards">
  </div>
</div>

<h1>ghudhdsuh</h1>

</div>