<div class="scrollable">
  <div class="played-cards">
  </div>
</div>
<div class="play-area">
<div class="show-canvas">
  <img src="<%=sketch.escape("image")%>" id="canvas">
</div>

<div class="playable-cards">
</div>
</div>

<div class="submit-new-sketch-card-assoc-btn btn">
  <span class="glyphicon glyphicon-plus"></span>
</div>
<script>
  $(document).ready(function() {
    // debugger
    
    $(".playable-cards").sortable({
      items: ".card",
      cursor: "grab",
      containment: ".play-area",
      cursorAt: { left: 75, top: 120 }, 
      revert: true,
      scrollSensitivity: 7,
      tolerance: "intersect",
      connectWith: "#canvas", 
      start: function( event, ui ){
        $(ui.item).siblings().removeClass("selected")
        $(ui.item).addClass("selected")
        debugger
      },
    })
    $( ".playable-cards .card" ).disableSelection();
    // 
    $( "#canvas" ).sortable({
      receive: function( event, ui ) {
        var cardID = JSON.parse($(ui.item).attr("id"))
        debugger
      }
    });
  });
</script>
