<div class="scrollable">
  <div class="played-cards">
  </div>
</div>

<div class="show-canvas">
  <img src="<%=sketch.escape("image")%>">
</div>


<div class="playable-cards">
</div>

<div class="submit-new-sketch-card-assoc-btn btn">
  <span class="glyphicon glyphicon-plus"></span>
</div>
<script>
  $(document).ready(function() {
    debugger
    $( ".playable-cards .card" ).sortable();
    $( ".playable-cards .card" ).disableSelection();
  });
</script>
