<div class="contaner">
  <div class="jumbotron">
    <div class="hello" id="all-card-showdown-jumbotron">
      <h1>All-Card <b>Showdown</b>!</h1>
      <p>Cards are player-generated. Only the top 100 make it into the game.</p>
      <h4>Upvote the funny. Keep the boring ones out.</h4>
    </div>
    <p>
    </p>
  </div>
</div> 
<div class="row">
  <h1 class="col-xs-6"></h1>
</div>

<div class="row">
  <div class="cards">
  </div>
</div>