<div class="panel card">
  <form class="form-inline new-card" id="new-card-form">
    
    <div class="panel-body">       
      <input type="text" 
            name="white_card[body]" 
            class="form-control"
            placeholder="You think you're witty.">
    </div>
           
    <div class="btn-group pull-right">  
      <button class="btn btn-xs" 
             type="submit" 
             id="submit-new-card"
             ><span class="glyphicon glyphicon-plus"></span></button>
      <div class="clearfix"></div>
    </div>
  </form>
</div>