<p> THIS IS A CARD </p>
<div class="card-body">
  <%= white_card.get("body") %>
</div>

<div class="card-votes">
  <%= white_card.get("votes") %>
</div>

<div class="vote-area">
  <div class="card-vote upvote">
    <span class="glyphicon glyphicon-arrow-up"></span>
  </div>
  <div class="card-vote downvote">
    <span class="glyphicon glyphicon-arrow-down"></span>
  </div>
</div>