<div class="card-body">
  <%= white_card.escape("body") %>
</div>

<div class="vote-area row">
  <div class="card-vote upvote col-xs-1 glyphicon glyphicon-thumbs-up">
  </div>
  
  <div class="card-votes col-xs-1">
    <%= white_card.escape("votes") %>
  </div>
  
  <div class="card-vote downvote col-xs-1 glyphicon glyphicon-thumbs-up">
  </div>
</div>