<div class="card-body">
  <%= white_card.escape("body") %>
</div>

<div class="vote-area">
  <i class="card-vote downvote col-xs-1 glyphicon fa fa-thumbs-up"></i>
  
  <div class="card-votes col-xs-1">
    <%= white_card.escape("total_votes") %>
  </div>
  
  <i class="card-vote upvote col-xs-1 glyphicon fa fa-thumbs-up"></i>

</div>