<form action="/users/sign_in" class="new_user" id="new_user" method="post">
  <!-- <div style="display:none"><input type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="tS1jw+axiTuCfeWT+PYfEOzs3qDHdIy5RlXw1w+jTTg="></div> -->
  <input name="authenticity_token" type="hidden">
   
  <div class="form-group has-error has-feedback">
    <label for="user_email">Email
      <input autofocus="autofocus" 
             class="form-control" 
             id="user_email" 
             name="user[email]" 
             placeholder="Email" 
             type="email">
    </label><br>
  </div>

  <div class="form-group">
    <label for="user_password">Password
      <input autocomplete="off" 
             class="form-control" 
             id="user_password" 
             name="user[password]" 
             placeholder="Quick, they'll look!" 
             type="password">
    </label><br>
  </div>
  
  <div class="form-group checkbox">    
    <input name="user[remember_me]" 
           type="hidden" 
           value="0">
    <input id="user_remember_me" 
          name="user[remember_me]" 
          type="checkbox" 
          value="1">
    <label for="user_I_shall_be_back">I shall be back</label>
  </div>

  <input class="btn" name="commit" type="submit" value="Let's rumble!">

</form>
       
       