<form action="/users/sign_in" class="new_user " id="new_user" method="post">
  <!-- <div style="display:none"><input type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="tS1jw+axiTuCfeWT+PYfEOzs3qDHdIy5RlXw1w+jTTg="></div> -->
  <input name="authenticity_token" type="hidden">
  

  <div class="form-group"> Email
    <input autofocus="autofocus" 
           class="form-control" 
           id="user_email" 
           name="user[email]" 
           placeholder="Email" 
           type="email">
  </div>
  
  <div class="form-group"> Password
    <input autocomplete="off" 
           class="form-control" 
           id="user_password" 
           name="user[password]" 
           placeholder="Quick, they'll look!" 
           type="password">
  </div>
  
  <div class="form-group checkbox"> I shall be back for more
    <input name="user[remember_me]" 
           type="hidden" 
           value="0">
    <input id="user_remember_me" 
          name="user[remember_me]" 
          type="checkbox" 
          value="1">
  </div>
  
  <input class="btn" name="commit" type="submit" value="Let's rumble!">
</form>
       
       