// Place all the styles related to the Drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drawing-area {
  margin-left: 20%;
  display: block;
}

#my-canvas{
  border-radius: 15px;
  width: 600px;
  height: 600px; 
  background-color: #FFFFFF;
  border: 7px solid #a9a9a9;
  float: left;
  position: relative;
  
}

.tools {
  position: relative;
  float: left;
}

#pallette-area {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
}


.brush, .paint {
  height: 30px;
  width: 30px;
  border: 2px solid #FFFFFF;
  margin: 10px;
  float: left;
  border-radius: 5px;
}

.paint:hover {
  border-color: #a9a9a9;
  border-width: 2px;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
} 
 
#purple {
  background-color: purple;
}

#white {
  background-color: white;
}
