// Place all the styles related to the Drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.drawing-area {
  margin-left: 20%;
}

/*.glyphicon {
   top: 50%;
   vertical-align: middle;
}*/

#my-canvas{
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 7px solid #a9a9a9;
  margin: 10px;
  float: left;
}

.tools {
  float: left;
  width: 155px;
  margin: 10px;
}

#pallette-area, #brush-area {
  border-radius: 15px;
  margin: 5px;
}

#pallette-area {
  padding: 15px;
  background-color: #DB8C10;
}

#brush-area{  
  padding: 10px 3px; 
}

#pallette-area:after, #brush-area:after {
  content: "";
  clear: both;
  display: block;
}

.paint {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.brush, .paint {
  border: 2px solid #FFFFFF;
  margin: 3px;
  float: left;
}

.brush {
  background-color: #DB8C10;
  color: #FFFFFF;
  text-align: center;
}

.brush:focus, .brush:hover, .brush:active {
  outline: none;
  border: 2px solid #a9a9a9;
}


.paint:hover {
  border: 2px solid #a9a9a9;
}


#black {
  background-color: black;
}

#red {
  background-color: red;
}

#orange {
  background-color: orange;
}

#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
} 
 
#purple {
  background-color: purple;
}

#white {
  background-color: white;
}

#sm{
  height: 30px;
  width: 30px;
  font-size: 15px;
  border-radius: 15px;
}

#med{
  height: 40px;
  width: 40px;
  font-size: 20px;
  border-radius: 20px;
}

#lrg{
  height: 45px;
  width: 45px;
  font-size: 25px;
  border-radius: 25px;
}
