// Place all the styles related to the CardSketchAssignment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
}

.played-cards {
  height: 130px;
  background-color: black;
  width: auto; 
  opacity: 0.9;   
}

.played-cards > .card {
  height: 100px;
  width: 100px; 
  margin: 15px 10px; 
  display: inline-block;
  float: left;
}

.played-cards > .card:first-child {
  margin-left: 3%;
}

.played-cards > .card > .card-body {
  font-size: 13px;
  padding: 10px;
}

.played-cards > .card > .vote-area > .card-votes {
  font-size: 11px;
}

.played-cards > .card > .vote-area > .card-vote {
  font-size: 11px;
}

.show-canvas {
  margin: 2%;
  margin-left: 25%;
  display: block;
}

.playable-cards {
  margin-left: 10%;
}

