// Place all the styles related to the WhiteCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  height: 235px;
  width: 150px;
  background-color: white;
  float: left;
  margin: 20px;
  border-radius: 15px;
  position:relative;
}

.card-body {
  font-size: 20px;
  font-family: Helvetica;
  padding: 15px 10px;
}

.vote-area {
  left: 50%;
  margin-left: -50px;
  width: 100px;
  position: absolute; 
  bottom: 5%;
}

.card-votes {
  font-size: 16px;
  font-weight: 15px;
  font-family: Helvetica;  
}

.card-vote {
  font-size: 20px;
  font-weight: 20px;  
}

.upvoted {
  color: rgb(233, 134, 89);
}

.downvoted {
  color: rgb(136, 146, 252);
}

.downvote {
  -webkit-transform: rotate(-180deg);
}
