<div class="jumbotron">
  <div class="hello">
    <h2>It's like <em>Cards Against Humanity</em>. Except with Sketches.</h2>
    <p>Create a sketch. Submit a card. Watch players try to match them.</p>
  </div>
  <p>
    <a class="btn btn-lg" role="button">Learn more</a>
  </p>
</div> 
<div class="sign-in container">
  <h2 class="highlighted">Start playing now as:</h2>
  <div class="sign-in-form">
    <%= render "devise/registrations/guest" %>
  </div>
</div> 

