<div class="container" id="about">
  <h2> What is this? </h2>
  <p> It's like Cards Against Humanity or Apples to Apples, but with a sketch in between. Sketch the black card you're given, or describe a sketch with a white card. Once 8 cards have been submitted for a sketch, the sketcher gets to pick their favorite. The player who submitted that card is declared the winner.</p>
  <br>
  <h2> What's with the numbers next to my username? </h2>
  <p>That's your karma. The number on the left are your fun points, or card karma. The number on the right are your awesome points, or sketch karma. </p>
  <br>
  <h2> I need more karma. How? </h2>
  <h4> Card Karma </h4>
  <p> Generate lots of white cards. You can do this at any time you come up with a funny line via the New Card button upon signing in. You get one point for submitting any card. Every time a user upvotes a card you get one more fun point for your card karma. But don't just submit anything. Users will downvote your cards if they're not funny and you will loose all your karma. Aim for nirvana.</p>
  <br>
  <h4> Sketch Karma </h4>
  <p> Play a lot. When the sketcher chooses your card, you get TEN awesome points.     
    <br>
  If you're the sketcher, one of the eight cards is randomly generated. A mole! Pick the mole card and YOU get TEN awesome points.</p>
  
  <h2> Why </h2>
  <p>
    Zhyliana originally built the game for App Academy, a 12-week intensive developer-training program in San Francisco, CA. 
        <br>
    Zhyliana wanted to create a game for her final project. She sought out to make a more competitive version of Cards Against Humanity. Something she could play sporadically while still maintaining the social aspect of the original game. This idea became the basis of SketchMate's gameplay.
        <br>
    With only 9 weeks of professional training, she managed to build the original version of SketchMate in only one week. Improvements have been coming ever since. 
  </p>
  <br>
  <h2>How?</h2>
  Doodle or Die is 100% Javascript in the browser and on the server. We use MongoDB, host on Joyent and Amazon S3 and love Node.JS and its community.
  <p>SketchMate is built on Rails, and 100% of the gameplay is in Backbone.
    <br>
    Images are hosted on Amazon S3. User authorization was built using Devise, but this is scheduled to be replaces with SketchMate's own authorization, which won't require players to provide their email.
  </p>
</div>