<li> <a href='/home'><span class="glyphicon glyphicon-home"></span></a> </li>
<li> <a href='/contact'><span class="glyphicon glyphicon-envelope"></span></a> </li>
<li> <a href="#/white_cards/vote"><span class="glyphicon glyphicon-th"></span></a></li>