<li> <a href='/contact'><i class="glyphicon fa fa-compass"></i> &nbsp Explore </li>
<li> <a href='/#/game'><i class="glyphicon fa fa-rocket"></i> &nbsp Play </li>

<li> <a href="/#/white_cards/vote"><span class="glyphicon glyphicon-th"></span></a></li>