<li> 
  <a href='/#/about'>
    <span class="glyphicon fa fa-compass" id="explore">&nbsp 
      <b>Explore</b>
    </span>
  </a>
</li>

<li> 
  <a href='/#/game'>
    <span class="glyphicon fa fa-rocket" id="play">&nbsp 
      <b>Play</b> 
    </span>
  </a>
</li>

<li>
  <a href="/#/white_cards/vote">
    <span class="glyphicon fa fa-th" id="showdown">&nbsp
      <b>Defend</b> 
    </span>
  </a>
</li>
