<button class="btn btn-primary btn-lg" data-toggle="modal" id="joinButton" data-target="#joinModal">
  Join
</button>


<div class="modal bs-example-modal-sm fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-hidden="true">&times;
        </button>
        <ul class="nav nav-tabs" id="joinTabs">
          <li class="active in">
            <a href="#sign-in" data-toggle="tab">Sign In</a>
          </li>
          <li>
            <a href="#sign-up" data-toggle="tab">Sign Up</a>
          </li>
        </ul>      
      </div>

      <div class="modal-body"> 
        <div class="tab-content">
          <div class="tab-pane fade active in" id="sign-in">
            <%= render "devise/sessions/new" %> 
          </div>
          <div class="tab-pane fade" id="sign-up">
            <%= render "devise/registrations/new" %>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
