<li><button class="navbar-btn sessions-nav-btn"
        id="sign-in-nav-btn"
        data-toggle="modal"
        data-target=".sign-in-modal">
        Sign In
</button>

<!-- <div class="modal fade sign-in-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h1 style="color: black">Sign In</h1>
        <%= render "devise/sessions/new" %>
       </div>
     </div>
  </div>
</div> -->





<input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
<input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
<input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
<label class="string optional" for="user_remember_me"> Remember me</label>
<input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">
<label style="text-align:center;margin-top:5px">or</label>
                <input class="btn btn-primary btn-block" type="button" id="sign-in-google" value="Sign In with Google">
<input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter">